body, html{
height:100%;
margin:0;
font-size: 16px;
font-family:"Lato", sans-serif;
font-weight:400;
line-height:1.8em;
color: grey;
}


.cow1, .cow2, .cow3{
    position:relative;
    opacity:0.70;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
}

.cow1{
    background-image:url('images/cow1.jpg');
    min-height:1000px;
}
.cow2{
    background-image:url('images/cow2.jpg');
    min-height:700px;
}
.cow3{
    background-image:url('images/cow3.jpg');
    min-height:700px;
}
.section1, .section2, .section3{
    text-align:center;
    padding:50px 80px;
}
.section1{
  background-color:lightgray;
  color:white;  
}
.section2, .section3{
 background-color: darkgray;
 color:#ddd;
}
.ptext{
    position:absolute;
    top:50%;
    width:100%;
    text-align:center;
    color:black;
    font-size:27px;
    letter-spacing:8px;
    text-transform:uppercase;
}
.ptext .border{
    background-color:rgba(0, 0, 0, 0.8);
    color:#fff;
    padding:20px;
    

}
audio{
    display:hidden;
}
